@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'cormorant garamond', sans-serif;
}

.nav__toggle {
  position: absolute;
  cursor: pointer;
  right: 0;
  margin: 0rem 1rem;
}

.nav__toggle svg {
  width: 1.5rem;
}

.nav__toggle .ham__menu {
  margin-top: 0.2rem;
}

.nav__toggle .close {
  display: none;
}

.nav__checkbox {
  display: none;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.nav__menu li {
  list-style: none;
  display: none;
}

.nav__menu li:first-child {
  margin-right: auto;
  display: block;
}

.nav__menu li .nav__logo {
  width: 1.7rem;
  display: block;
}

.nav__menu li a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

#nav__checkbox:checked .header__title {
  display: none;
}

#nav__checkbox:checked ~ .nav__menu li {
  display: block;
}

#nav__checkbox:checked ~ .nav__toggle .ham__menu {
  display: none;
}

#nav__checkbox:checked ~ .nav__toggle .close {
  display: block;
}

.header {
  background: url(/images/icecream.jpg) center no-repeat fixed;
  background-size: cover;
  height: 100vh;
}

.header__text {
  padding: 0 1rem;
  margin-top: 15rem;
  text-align: center;
}

.header__text__heading {
  text-transform: uppercase;
  font-size: 3.25rem;
}

.header__text__time {
  margin-bottom: 1rem;
  font-weight: 700;
}

.header__text__location {
  font-weight: 700;
  margin-bottom: 2rem;
}

.header__button {
  text-decoration: none;
  padding: 1rem 3rem;
  color: black;
  background-color: whitesmoke;
}

.grid-container__item1__img {
  width: 100%;
}

.grid-container__item2__content {
  padding: 2rem;
  text-align: center;
}

.grid-container__item2__content__header {
  margin-bottom: 2rem;
}

.grid-container__item2__content__paragraph {
  margin-bottom: 2rem;
}

.grid-container__item3__img {
  width: 100%;
}

.grid-container__item4__content {
  padding: 2rem;
  text-align: center;
}

.grid-container__item4__content__header {
  margin-bottom: 2rem;
}

.grid-container__item4__content__paragraph {
  margin-bottom: 2rem;
}

.grid-container__item5__img {
  width: 100%;
}

.grid-container__component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.grid-container__component svg {
  width: 1.75rem;
}

.grid-container__component h6 {
  font-size: 1.25rem;
  padding: 0;
  margin-bottom: 1rem;
}

.grid-container__component p {
  margin-bottom: 1rem;
}

.grid-container__component a {
  text-decoration: none;
  color: black;
}

.grid-container__component__column1 {
  background-color: red;
  padding: 1rem;
}

.grid-container__component__column2 {
  background-color: blue;
  padding: 1em;
}

.grid-container__component__column3 {
  background-color: green;
  padding: 1em;
}

.grid-container__component__column4 {
  background-color: yellow;
  padding: 1em;
}

.footer {
  background-color: maroon;
}

.footer__text__header {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.footer__text__contact {
  margin-bottom: 1rem;
}

.footer__text__phone {
  color: black;
}

.footer__text__email {
  color: black;
}

.footer__text__social {
  margin-bottom: 1rem;
}

.footer__widgets__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.footer__widgets__social svg {
  width: 1.375rem;
}

.footer__widgets__social li {
  list-style: none;
}

@media only screen and (min-width: 560px) {
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__menu li {
    display: block;
  }
}
/*# sourceMappingURL=app.css.map */