@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "cormorant garamond", sans-serif;
  background-color: whitesmoke;
}

.nav__toggle {
  position: absolute;
  cursor: pointer;
  right: 0;
  margin: 0rem 1rem;
}
.nav__toggle svg {
  width: 1.5rem;
  fill: whitesmoke;
}
.nav__toggle .ham__menu {
  margin-top: 0.3rem;
}
.nav__toggle .close {
  display: none;
}
.nav__checkbox {
  display: none;
}
.nav__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.nav__menu .crown {
  width: 1.5rem;
  fill: whitesmoke;
  display: none;
}
.nav__menu li {
  list-style: none;
  display: none;
}
.nav__menu li:first-child {
  margin-right: auto;
  font-size: 1rem;
  display: block;
}
.nav__menu li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.3rem;
}

#nav__checkbox:checked ~ .nav__menu li {
  display: block;
  margin-block: 1rem;
}

#nav__checkbox:checked ~ .nav__menu {
  background-color: black;
}

#nav__checkbox:checked ~ .nav__toggle .ham__menu {
  display: none;
}

#nav__checkbox:checked ~ .nav__toggle .close {
  display: block;
  color: white;
  position: relative;
  z-index: 2;
}

.header {
  background: url(/images/Desktop/landingCover.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.header__text {
  position: absolute;
  top: 30%;
  text-align: center;
  width: 100%;
}
.header__text__heading {
  color: whitesmoke;
  z-index: -1;
  text-transform: uppercase;
  font-size: 3.25rem;
}
.header__text__time {
  margin-bottom: 1rem;
  color: whitesmoke;
  font-weight: 700;
}
.header__text__location {
  font-weight: 700;
  color: whitesmoke;
  margin-bottom: 2rem;
}
.header__button {
  text-decoration: none;
  padding-inline: 3rem;
  padding-block: 1rem;
  color: black;
  background-color: whitesmoke;
}

.about-container {
  background-color: whitesmoke;
}
.about-container__content {
  padding-inline: 1rem;
  padding-block: 5rem;
}
.about-container__heading {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.about-container__paragraph {
  text-align: center;
}

.grid-container__item1__img {
  width: 100%;
}
.grid-container__item2__content {
  padding-inline: 1rem;
  padding-block: 5rem;
  text-align: center;
}
.grid-container__item2__content__heading {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.grid-container__item2__content__paragraph {
  margin-bottom: 2rem;
}
.grid-container__item2__content a {
  text-decoration: none;
  color: black;
}
.grid-container__item3__img {
  width: 100%;
}
.grid-container__item4__content {
  padding-inline: 1rem;
  padding-block: 5rem;
  text-align: center;
}
.grid-container__item4__content__header {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.grid-container__item4__content__paragraph {
  margin-bottom: 2rem;
}
.grid-container__item5__img {
  width: 100%;
  vertical-align: bottom;
}
.grid-container__item6__content {
  padding-inline: 1rem;
  padding-block: 5rem;
  text-align: center;
}
.grid-container__item6__content__heading {
  margin-bottom: 1rem;
}

.photo-container__img {
  width: 100%;
  vertical-align: middle;
  margin-bottom: 1rem;
}

.footer {
  background-color: black;
}
.footer__text {
  color: whitesmoke;
}
.footer__text__header {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.footer__text__contact {
  margin-bottom: 1rem;
}
.footer__text__phone {
  color: whitesmoke;
}
.footer__text__email {
  color: whitesmoke;
}
.footer__text__social {
  margin-bottom: 1rem;
}
.footer__widgets__social {
  display: flex;
  gap: 1.25rem;
}
.footer__widgets__social svg {
  width: 1.375rem;
  fill: whitesmoke;
}
.footer__widgets__social li {
  list-style: none;
}

@media only screen and (min-width: 35rem) {
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    flex-direction: row;
  }
  .nav__menu li {
    display: block;
  }
  .nav__menu li .crown {
    display: block;
    margin-left: 0.3rem;
  }
}

/*# sourceMappingURL=app.css.map */
